<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.MbtiTabMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.MbtiTab">
        <id column="id" property="id" />
        <result column="timu" property="timu" />
        <result column="xuanxiang1" property="xuanxiang1" />
        <result column="xuanxiang2" property="xuanxiang2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, timu, xuanxiang1, xuanxiang2
    </sql>

</mapper>
